<html>
<head>
    <title>Register Form</title>
</head>
<body>
<form action="/register" method="POST">
   <h1>Register</h1>
   <p>Please fill in this form to create an account.</p>


   <label for="user"><b>Username</b></label>
   <input type="text" placeholder="Enter Username" name="user" id="user" required>

   <label for="psw"><b>Password</b></label>
   <input type="Password" placeholder="Enter Password" name="psw" id="psw" required>

   <input type="submit" name="Register" value="Register">


 <div>
   <p>Already have an account? <a href="/login">Sign in</a>.</p>
 </div>
</form>
</body>
